<div class=" min-h-screen bg-gray-200 flex items-center">

    <div class="max-w-screen-lg mx-auto bg-red w-full">
        <div class="flex flex-col lg:flex-row">
            <div class="w-full lg:w-2/5 bg-white space-y-6 bg-white h-[750px] flex items-center justify-center rounded-bl-2xl rounded-tl-2xl">
                <div class="w-full p-6">
                    <div class="mb-12">
                        <svg width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg" class="">
                            <path d="M16 6.756V0L1.028 14.639a1.422 1.422 0 0 0-.011 2.023L3.556 19.2" fill="#2196F3" />
                            <path d="M16 6.756V0l14.972 14.639c.566.553.57 1.463.011 2.023L28.444 19.2"
                                fill="#1878C6" />
                            <path d="M3.556 19.2 9.6 13.156H16V19.2" fill="#1565C0" />
                            <path d="M28.444 19.2 22.4 13.156H16V19.2" fill="#10519D" />
                            <path d="M16 25.956H9.956l3.022-3.2 3.022 3.2Z" fill="#1565C0" />
                            <path d="m16 32 6.044-6.044H16V32Z" fill="#1878C6" />
                            <path d="m16 32-6.044-6.044H16V32Z" fill="#2196F3" />
                            <path d="M16 25.956h6.044l-3.022-3.2-3.022 3.2Z" fill="#10519D" />
                            <path d="M7.724 21.75a1.422 1.422 0 0 0 .018 1.992l2.214 2.214 6.044-6.4v-6.4"
                                fill="#2196F3" />
                            <path d="M24.276 21.75c.538.558.53 1.444-.018 1.992l-2.214 2.214-6.044-6.4v-6.4"
                                fill="#1878C6" />
                        </svg>
                    </div>
                    <div class="py-6">
                        <h2 class="text-3xl text-gray-800 font-bold">Sign Up</h2>
                        <p class="text-sm">Already have a account <span class="text-primaryRed">
                            <a routerLink="/signin">Sign in</a>
                        </span></p>
                    </div>
                    <form>
                        <div class="grid grid-cols-1 space-y-6">

                            <div class="">
                                <label class="block text-gray-700 text-sm font-bold mb-2" for="Fullname">
                                    Full name *
                                </label>
                                <input
                                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                    id="username" type="text" placeholder="">
                            </div>

                            <div class="">
                                <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
                                    Email address *
                                </label>
                                <input
                                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                    id="username" type="text" placeholder="">
                            </div>

                            <div class="">
                                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                                    Password *
                                </label>
                                <input
                                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                    id="Password" type="text" placeholder="">
                            </div>

                            <div class="">
                                <label class="block text-gray-700 text-sm font-bold mb-2" for="Company">
                                 Company
                                </label>
                                <input
                                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                    id="username" type="text" placeholder="">
                            </div>


                            <div class="">
                                <div class="flex space-x-2 items-center">
                                    <input type="checkbox" class="default:ring-2 valid:border-green-500" id="checkbox" />

                                    <label class="text-sm font-normal" for="checkbox">
                                     I agree to the <span class="text-primaryRed">Terms of services</span> & <span class="text-primaryRed">Privacy Policy</span>
                                    </label>
                                </div>
                               
                            </div>

                            <div class="">
                                <button type="button" class="bg-primaryRed text-white w-full rounded-full p-3">Create your free account</button>
                            </div>


                        </div>
                    </form>

                    
                </div>



            </div>

            <div class="w-full lg:w-3/5 bg-customBlack rounded-tr-2xl rounded-br-2xl">
                <div class="max-w-md mx-auto ">
                    <div class=" h-[750px] flex flex-col justify-center space-y-6 p-3 lg:p-0">
                        <div class="">
                            <h2 class="text-white text-6xl font-bold">
                                Welcome to
                                our community
                            </h2>
                        </div>
                        <div class="">
                            <p class="text-gray-400 text-sm">
                                use helps developers to build organized and well coded dashboards full of beautiful and
                                rich modules. Join us and start building your application today.
                            </p>
                        </div>
                        <div class="flex space-x-4 items-center">
                            <div class="">
                                <ul class="flex">
                                    <li class="w-12 h-12 ring-4 rounded-full ring-customBlack -mr-2 object-cover">
                                        <img src="../../../assets/images/female-11.jpeg" alt="" srcset=""
                                            class="rounded-full">
                                    </li>
                                    <li class="w-12 h-12 ring-4 rounded-full ring-customBlack -mr-2 object-cover">
                                        <img src="../../../assets/images/female-18.jpeg" alt="" srcset=""
                                            class="rounded-full">
                                    </li>
                                    <li class="w-12 h-12 ring-4 rounded-full ring-customBlack -mr-2 object-cover">
                                        <img src="../../../assets/images/male-09.jpeg" alt="" srcset=""
                                            class="rounded-full">
                                    </li>
                                    <li class="w-12 h-12 ring-4 rounded-full ring-customBlack -mr-2 object-cover">
                                        <img src="../../../assets/images/female-11.jpeg" alt="" srcset=""
                                            class="rounded-full">
                                    </li>
                                 
                                </ul>
                            </div>
                            <div class="">
                                <p class="text-gray-400 text-sm">
                                    More than 17k people joined us, it's your turn
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>